*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color1:#5086F2;
    --color2:#051D3B;
    --color3:#274259;
    --color4:#6BD1FF;
}
body{
    background-color: var(--color2);
    max-width: 100vw;
}
#navbar{
    display: flex;
    background-color: var(--color2);
    width: 100vw;
    height: 80px;

    border-radius: 10px;
   

}
#navbar .navbar-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.logo{
    height: 50px;
    width: 120px;
}
.pesquisa{
    width: 50vw;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: var(--color3);
    border: 2px solid #5f3bb1;
    color: white;
}
summary{
    display: flex;
    margin: 10px;
    margin-right: 40px;


}
summary > p{

    color: white;
    padding-top: 15px;
}
.circle{
    border-radius: 50%;
    margin: 10px;
}
main{
    display: flex;
    justify-content: space-between;

}

#menu{
    display: block;
    width: 150px;
    height: 300px;
    margin: 10px;
    color: white;
    font-size: 12px;

}
#menu > p{
    padding: 10px;
}
#menu > ul > li {
    display: flex;
    

}
#menu > ul > li >a {
    color: rgba(255, 255, 255, 0.733);
    text-decoration: none;
    padding-top: 20px;    
}
    

ul > li > img{
    width:30px ;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--color4);
    margin: 10px;
    padding: 5px;
}
.projeto{
    
   color: aliceblue;
   

  
    
}
.projeto > p{
    margin: 10px;
    margin-left: 5px;
    width: 200px;
    font-size: 0.7em;
}
.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.texto{
    width: 170px;
    margin: 5px;
    background-color: var(--color3);
    border: 0;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    
    
}
#msg{
    
    height: 100px;
}
#color{
    width: 170px;
    margin: 5px;
    background-color: var(--color2);
    border: 0;
    border-radius: 5px;
    height: 40px;
    padding: 2px;
    border: 1px solid white;
    
   

   

}
.rbg{
    border: 1px solid black;
    border-radius: 5px;
    
    
    
}
#btn{
    margin-top: 15px;
    background-color: var(--color4);
    color: black;
}
#btn:hover{
    cursor: pointer;
}
#code{
    border: 25px solid var(--color4);
    padding: 15px;
    margin: 20px;
    background-color: #141414;
    border-radius: 5px;
    color: white;
    width: 50vw;
    height: 45vh;
    box-shadow: inset 3px 3px 3px 1px rgba(0, 0, 0, 0.596);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.637);
    

}
.button{
    
    margin-bottom: 20px;
    width: 15px;
    height: 15px;
    border-radius: 10px;

}
.button:hover{
    cursor: pointer;
}
#red{
    background-color: #FF5F56;
}
#yellow{
    background-color:#FFBD2E ;
}
#green{
    background-color:#27C93F ;
}
.highlight{
    margin: 20px;
    width: 50vw;
    height: 7vh;
    border-radius: 5px;
    background-color: #0B254A;
    border: none;
    color: white;
}
.highlight:hover{
    cursor: pointer;
    
}



/* #principal{
    border: 1px solid black;
    background-color: var(--color4);
    width: 60vw;
    height: 50vh;
    border-radius: 10px;
    

}
#code{
   
    margin: 20px;
    background-color: black;
    border-radius: 5px;
    width: 55vw;
    height: 43vh;
} */




  
  










